<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Info Grappo</title>
    <!-- Font file from cdn-->
    <!--script src="https://use.fontawesome.com/b11d304967.js"></script-->
    <!-- Font file from local-->
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"-->
    <!-- Our own CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="dist/vis.js"></script>
    <link href="dist/vis.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid"  id="main-nav-bar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="height: inherit">
            <img alt="brand" src="../logo/Horizontal.png" style="width: 15%; height: auto">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div--><!-- /.navbar-collapse -->
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
          <ul class="nav navbar-nav">
            <li>
              <form class="navbar-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </li>
            <li class="navbar-right"><a href="#" style="color: #97B0F8">Log Out</a></li>
            <li class="navbar-right"><a href="#" style="color: white">Settings</a></li>
            <li class="navbar-right"><a href="#" style="color: white">Notification</a></li>
            <li class="navbar-right"><a href="#" style="color: white;">Profile</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-2 col-lg-2" ng-controller="ModalDemoCtrl as $ctrl">
            <!--  Create Topic Modal -->
            <script type="text/ng-template" id="createTopic.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Create Topic</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <span>Topic Name</span>
                    <input type="text" class="form-control" placeholder="Topic Name">
                    <span>Tag</span>
                    <input type="text" class="form-control" placeholder="Tags">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </script>
            <!--  Add Relation Modal  -->
            <script type="text/ng-template" id="addRelation.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Add Relation</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <span>Topic Name</span>
                    <input type="text" class="form-control" placeholder="Topic Name">
                    <span>Topic Name</span>
                    <input type="text" class="form-control" placeholder="Topic Name">
                    <span>Relation Name</span>
                    <input type="text" class="form-control" placeholder="Relation Name">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </script>
            <ul class="left-navbar">
                <li><a href="manipulation.html">What's Going On</a></li>
                <li><a href="#news" ng-click="$ctrl.openAddRelation()">Add relation</a></li>
                <li><a href="#contact" ng-click="$ctrl.openCreateTopic()">Create Topic</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-lg-10">
            <div id="mynetwork"></div>    
        </div>
    </div>

    <!-- Angular file(necessary for UI-Bootstrap's Angular plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/ui-bootstrap-custom-tpls-2.2.0.js"></script>
    <!-- Our own js file -->
    <script src="js/InfoGrappo.js"></script>
    <script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 1, label: 'Node 1'},
        {id: 2, label: 'Node 2'},
        {id: 3, label: 'Node 3'},
        {id: 4, label: 'Node 4'},
        {id: 5, label: 'Node 5'}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 1, to: 2},
        {from: 2, to: 4},
        {from: 2, to: 5}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
  </body>
</html>