        		<!--  Create Topic Modal -->
                <script type="text/ng-template" id="createTopic.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Create Topic</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <span>Topic Name</span>
                          <!-- changes -->
                        <input type="text" class="form-control" placeholder="Topic Name" ng-model="topicName" ng-blur="$ctrl.findTags(topicName)">
                        <span>Tag</span>
                        <!-- En az 3 kelime girmek gerekiyo sonuçların gelmesi için -->
                        <tags-input ng-model="topicTags">
                          <auto-complete source="tags"></auto-complete>
                        </tags-input>
                        <!-- changes end -->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okCreateTopic()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <!--  Add Relation Modal  -->
                <script type="text/ng-template" id="addRelation.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Add Relation</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- changes -->
                        <input type="text" class="form-control" placeholder="Topic Name" ng-model="fromTopic" uib-typeahead="topic as topic.name for topic in $ctrl.getTopics($viewValue)" typeahead-loading="loadingFromTopics" typeahead-no-results="noResults">
                        <i ng-show="loadingFromTopics" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <span>Topic Name</span>
                        <input type="text" class="form-control" placeholder="Topic Name" ng-model="toTopic" uib-typeahead="topic as topic.name for topic in $ctrl.getTopics($viewValue)" typeahead-loading="loadingToTopics" typeahead-no-results="noResults2">
                        <i ng-show="loadingToTopics" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults2">
                          <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                        <!-- changes end -->
                        <span>Relation Name</span>
                        <input type="text" class="form-control" placeholder="Relation Name" ng-model="relationType" uib-typeahead="relation as relation.type for relation in $ctrl.getRelations($viewValue)" typeahead-loading="loadingToRelationType" typeahead-no-results="noResults3">
                        <i ng-show="loadingToRelationType" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults3">
                            <i class="glyphicon glyphicon-remove"> No Results Found </i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okAddRelation()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <!--  Create Post  -->
                <script type="text/ng-template" id="createPost.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Create Post</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <span>Post</span>
                        <textarea class="form-control" rows="6" placeholder="Post" id="Post" ng-model="postContent"></textarea>
                         <hr class="dl-horizontal"/>
                        <span>Tags</span>
                        <input type="text" class="form-control" placeholder="Tags" ng-model="postTags">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okCreatePost()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <!--  Create Comment  -->
                <script type="text/ng-template" id="createComment.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Create Comment</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <span>Add Comment</span>
                        <textarea class="form-control" rows="6" placeholder="Comment" id="Comment" ng-model="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okCreateComment()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <script type="text/ng-template" id="profileSettings.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Profile Settings</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name" ng-model="user.name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="text" name="email" ng-model="user.email">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input class="form-control" type="number" name="age" ng-model="user.age">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input class="form-control" type="text" name="user.city" ng-model="user.city">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okSaveProfile()">Save</button>
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <script type="text/ng-template" id="signIn.html">
                    <div class="modal-header">
                        <h3>Sign In / Sign Up</h3>
                    </div>
                    <div class="modal-body" style="padding: 0">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <form id="signIn">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" type="email" name="email" ng-model="signIn.email">    
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" name="password" ng-model="signIn.password">
                                    </div>
                                    <div class="">
                                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okSignIn()">Sign In</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="text-info">If you don't have a account. Create now</p>
                                <form id="signUp">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control" type="text" name="name" ng-model="signUp.name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" type="email" name="email" ng-model="signUp.email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" name="password" ng-model="signUp.password">
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="button" ng-click="$ctrl.okSignUp()">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
                </script>
                <script type="text/ng-template" id="followTopicOk.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Follow Topic</h3>
                    </div>
                    <div class="modal-body" style="height: 50px">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label>Topic is followed.</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" type="button" ng-click="$ctrl.cancel()">OK</button>
                    </div>
                </script>
                <script type="text/ng-template" id="followTopicError.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Follow Topic</h3>
                    </div>
                    <div class="modal-body" style="height: 80px">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <label>Error occurred on following this topic!</label></br>
                                    <label>Reason: This topic is already followed.</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" type="button" ng-click="$ctrl.cancel()">OK</button>
                    </div>
                </script>