    <nav class="navbar navbar-default" ng-controller="NavbarCtrl">
      <div class="container-fluid"  id="main-nav-bar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html" style="height: inherit">
            <img alt="brand" src="../logo/Horizontal.png" height=70 >
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
          <ul class="nav navbar-nav">
            <li>
                <form class="navbar-form searchForm" method="get" action="search.html" ng-controller="SearchCtrl">
                    <div class="form-group" ng-controller="HomeCtrl">
                        <input autocomplete="off" type="text" id="tfq" name="q" class="form-control search-elements" size="21" maxlength="120" placeholder="Search our website" ng-model="searchInput" uib-typeahead="topic as topic.name for topic in getTopics(searchInput)" typeahead-loading="loadingSearch">
                        <button type="submit" class="btn btn-default btn-warning searchBtn" ng-click="search()">Search</button>
                    </div>
                </form>
            </li>
            <li class="navbar-right" ng-if="auth"><a href="#" style="color: white" ng-click="logout()">Log Out</a></li>
            <li class="navbar-right" ng-if="auth"><a href="#" style="color: white">Settings</a></li>
            <li class="navbar-right" ng-if="auth"><a href="#" style="color: white">Notification</a></li>
            <li class="navbar-right" ng-if="auth"><a href="profile.html" style="color: white;">Profile</a></li>
            <li class="navbar-right" ng-controller="ModalDemoCtrl as $ctrl" ng-if="!auth"><a href="#" ng-click="$ctrl.openLogin()" style="color: white;">Sign in / Sign Up </a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>