body {
  background: aliceblue;
}

.navbar-header {
  padding-left: 90px;
}

#mynetwork {
  width: 1000px;
  height: 400px;
  border: 1px solid lightgray;
}
.left-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.left-navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

a {
  color: white;
}
#main-nav-bar {
  background-color: darkslategray;
}
.navbar-nav {
  padding-top: 20px;
}