body {
  background: aliceblue;
}

.navbar-header {
  padding-left: 3%;
}

#mynetwork {
  /*width: 1000px;*/
  height: 800px;
  border: 1px solid lightgray;
}
.left-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.left-navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

/* Change the link color on hover */
.left-navbar li a:hover {
  background-color: #555;
  color: white;
}

#main-nav-bar {
  background-color: darkslategray;
}
.navbar-nav {
  padding-top: 20px;
}

.generalBorder{
  margin-top:5px;
  margin-bottom: 5px;
  min-height: 80px;
}

.rating{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.rating li a {
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.rating span{
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

#searchBox {
  background-color: white;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  width: 70%;
}

.search-elements{
  color: midnightblue;
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

        
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 3px;
    font-size: 18px;
    line-height: 20px;
}